{% extends "base.html" %} 

{% block titulo %} Registrar usuario {% endblock %} 

{% block contenido_principal %}

  <h2>Registrar usuario</h2>

  <form class="form-horizontal" method="post" action="/signup" >
    <!-- EMAIL -->
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" name="email"
            placeholder="ejemplo@email.es" required="true" />
      </div>
    </div>

    <!-- NOMBRE -->
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Nombre:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="name"
               placeholder="Ejemplo: Pedro" required="true"/>
      </div>
    </div>

    <!-- APELLIDO -->
    <div class="form-group">
      <label class="control-label col-sm-2" for="lastName">Apellidos</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="lastName"
               placeholder="Ejemplo: López Pérez" required="true"/>
      </div>
    </div>

    <!-- PASS -->
    <div class="form-group">
      <label class="control-label col-sm-2" for="password">Contraseña:</label>
      <div class="col-sm-10">          
        <input type="password"  class="form-control" name="password" 
        	placeholder="********" required="true" />
      </div>
    </div>

    <!-- PASS 2-->
    <div class="form-group">
      <label class="control-label col-sm-2" for="passwordConfirm">Repita Contraseña:</label>
      <div class="col-sm-10">
        <input type="password"  class="form-control" name="passwordConfirm"
               placeholder="********" required="true" />
      </div>
    </div>

    <!-- ENVIAR -->
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </form>

{% endblock %}